$brown: #8a7f83;
$upper-east: #fef8f4;
$arrow: #8c1d43;
$background: #e9d6c5;


// LOGO
$violeta: #852785;
$vinho: #911a37;
$sangue: #b51e34;
$rosa: #df4b4b;
$salmao: #f26f51;
$neutra: #ad9282;

//ABOUT
$about: #B02739;
$wine-up: #911A38;
$wine-down: #B41F34;
$salmon-up: #DF4C4C;
$salmon-down: #F26F52;
$light-brown: #AC9281;
$history: #C4A495;

//MUN
$mun: #822c81;
$purple-up: #60175e;
$purple-down: #822885;
$dark-wine: #611331;

// COMMITTEES
$asean: #efbd5b;
$wb: #18b7a0;
$disec: #915553;
$icj: #d3162d;
$ip: #ee7028;
$oea: #a94a9b;
$au: #42b449;
$unea: #b4c33a;
$unsc: #4881b5;
