@import 'fonts.scss';
@import 'colors.scss';

html,
body {
    height: 100%;
    font-family: Hind-Regular;
    font-size: 16px;
    background-color: #e9d6c5;
}

h1 {
    font-family: Montserrat-Regular;
}

.wrap {
    min-height: 100%;
    height: auto;
}

.container {
    padding: 50px;
}

.footer {
    height: 10px;
    padding: 0 50px;
    border-top: 1px solid #ddd;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-header {
    display: none;
}

/*
================================================================================
NEW CSS
================================================================================
*/

nav {
    position: relative;
    height: 120px;
    width: 100%;
    &.index-nav {
        height: auto;
    }
}

.modal-dialog {
    position: absolute;
    right: 0px;
    width: 60%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.modal.fade .modal-dialog {
  transition: transform .5s ease-out;
  transform: translate(25%, 0);
}

.modal.in .modal-dialog {
    transform: translate(0,0);
}

.modal-content {
    height: 100%;
    border: none;
    border-radius: 0;
    margin-right: -200px;
    background-color: #e9d6c5;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
}

.modal-wrap {
    position: relative;
    right: 220px;
    width: 100%;
    height: 100%;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.modal-header,
.modal-body,
.modal-footer {
    position: absolute;
    right: 0;
    border: none;
}

.modal-header {
    top: 0px;
}

.modal-footer {
    bottom: 0;
    h6 {
        font-size: 1.5rem;
    }
    a {
        color: $brown;
        &:first-of-type {
            margin-right: 10px;
        }
    }
}

.modal-body {
    top: 50px;
    bottom: 50px;
    overflow-y: scroll;
    width: 100%;
    text-align: right;
    color: $brown;
    h1 {
        color: $brown;
    }
    &.modal-delimiter {
        width: 60%;
    }
}

.modal-menu {
    position: absolute;;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

button.close {
    width: 30px;
    height: 30px;
    border: 1px solid #f0e7e0;
    border-radius: 100%;
    background-color: #f0e7e0;
    opacity: 1;
    color: $brown;
    position: relative;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.logo-home {
    position: absolute;
    top: 40px;
    left: 70px;
    width: 140px;
    z-index: 10000;
}

.logo-home-vertical {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-toggler {
    position: absolute;
    top: 15px;
    right: 30px;
    border-radius: 100%;
    background-color: #e9d6c5;
    padding: 7px 8.5px;
    z-index: 1000;
    span {
        display: block;
        margin-top: 1px;
        margin-bottom: -1px;
    }
    &:focus {
        outline: none;
    }
    &.toogler-index {
        background-color: rgba($neutra, .4);
    }
}

.svg-triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 200px;
    .triangle-upperEast {
        fill: $upper-east;
    }
    #canto {
        transform: rotate(12.8deg);
    }
}

header {
    color: $brown;
    .header-title {
        font-size: 3rem;
        letter-spacing: 1px;
        margin-top: 70px;
    }
    .header-subtitle {
        font-family: Hind-Light;
        font-size: 0.9rem;
        margin-top: 10px;
        a {
            color: darken($brown, 20%);
            font-family: Hind-Regular;
        }
    }
    .arrow {
        position: relative;
        display: inline-block;
        width: 1.5px;
        height: 35px;
        background-color: $arrow;
        margin-top: 30px;
        margin-left: 150px;
        &:before,
        &:after {
            content: '';
            display: inline-block;
            width: 1.5px;
            height: 20px;
            background-color: $arrow;
        }
        &:before {
            position: absolute;
            bottom: -2.2px;
            left: -7px;
            transform: rotate(-45deg);
        }
        &:after {
            position: absolute;
            bottom: -2.2px;
            right: -7px;
            transform: rotate(45deg);
        }
    }
}

.diagonal-section {
    width: 100%;
    height: 100px;
}

.diagonal-last {
    width: 500px;
    height: 250px;
}

.diagonal-brown {
    fill: #e9d6c5;
}

.button {
    width: 150px;
    height: 50px;
    font-family: Montserrat-Regular;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid white;
    margin-right: 5px;
    &:hover {
        transition: background-color .5s ease;
    }
}

.button-history {
    width: 140px;
    margin-bottom: 10px;
}

.button-bigger {
    width: 200px;
}

.modal-title {
    font-family: Montserrat-Regular;
    font-size: 2rem;
    text-transform: uppercase;
    color: $brown;
    .fa {
        font-size: 1.3rem;
    }
}

.modal-subtitle {
    font-size: 1.5rem;
    color: $brown;
}

.modal-text {
    color: $brown;
    .highlight {
        background-color: $brown;
        padding: 0 5px;
    }
    .fa-external-link {
        color: $arrow;
    }
}

.right-position {
    text-align: right;
    .article-description {
        width: 100%;
        padding-left: 50%;
    }
}

.icon-modal {
    width: 40px;
    &.icon-globe {
        width: 55px;
    }
}

/*
================================================================================
HOME
================================================================================
*/

.home {
    background: linear-gradient(to right, $violeta, $vinho);
    height: 110%;
}

.home-gradiente {
    width: 100%;
    height: 100%;
}

.moto {
    position: absolute;
    bottom: 10%;
    right: 6%;
    font-family: San-Frediano;
    font-size: 1.8rem;
    text-align: right;
}

.globo-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.home-box {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 240px;
    height: 200px
}

.logo-cinza {
    width: 100%;
    text-align: center;
}

.home-date {
    font-family: Montserrat-Hairline;
    font-size: 1.3rem;
    color: $salmao;
    text-align: center;
}

.diagonal-index {
    margin-top: -100px;
}

.home-menu {
    background: $history;
    margin-top: 0px;
    min-height: 500px;
    position: relative;
}

.card-box {
    text-align: center;
}

.menu-card {
    width: 220px;
    height: 250px;
    background-color: $card;
    display: inline-block;
    margin-top: 50px;
    + .menu-card {
        margin-left: 40px;
    }
    h1 {
        font-size: 1.5rem;
        color: $brown;
        text-align: left;
        padding: 50px 0 10px 30px;
    }
    p {
        text-align: left;
        padding: 0 30px 0 30px;
        color: $neutra;
        font-family: Hind-Light;
        font-size: .9rem;

    }
    .more-button {
        margin-top: 40px;
        margin-left: -95px;
        width: 120px;
        color: white;
        &:hover {
            color: $history;
            background-color: white;
        }
    }
}

.home-end {
    background: linear-gradient(to left, #852885, #911a38);
    .button:hover {
        color: #911a38;
        background-color: white;
    }
}

/*
================================================================================
MODALS
================================================================================
*/

.person-name {
    background-color: $upper-east;
    float: right;
    padding: 30px 30px 30px 75px;
    margin-top: 10px;
    width: 300px;
    font-family: Montserrat-Regular;
    font-size: 1.2rem;
    text-transform: uppercase;
    span {
        display: block;
        font-size: .9rem;
        text-transform: capitalize;
    }
}

.person-picture {
    position: relative;
    top: -5px;
    right: -90px;
    width: 150px;
    z-index: 1;
}

.person-description {
    margin-top: 20px;
    margin-bottom: 50px;
}


/*
================================================================================
ABOUT
================================================================================
*/

.about-title {
    color: $about;
}

.what-mun {
    background: linear-gradient(to right, $wine-up, $wine-down);
    .button:hover {
        color: $wine-up;
        background-color: white;
    }
    .topic-committee {
        color: $wine-up;
    }
}

.what-ufrgsmun {
    background: linear-gradient(to right, $salmon-up, $salmon-down);
    .button:hover {
        color: $salmon-up;
        background-color: white;
    }
    .topic-committee {
        color: $salmon-up;
    }
}

.meet-us {
    background-color: $light-brown;
    .button:hover {
        color: $light-brown;
        background-color: white;
    }
}

.meet-us-diagonal {
    fill: $light-brown;
}

.history {
    background: $history;
    .button:hover {
        color: $history;
        background-color: white;
    }
    .topic-committee {
        color: $history;
    }
}

.history-diagonal {
    fill: $history;
}

.square {
    width: 200px;
    height: 200px;
    background-color: white;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}

.sponsor-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 150px;
    max-height: 150px;
}

/*
================================================================================
THE MUN
================================================================================
*/

.mun-title {
    color: $mun;
}

.location {
    background: linear-gradient(lighten($purple-up, 2%), darken($purple-down, 2%));
    .button:hover {
        color: $purple-up;
        background-color: white;
    }
}

.schedule {
    background: $light-brown;
    .button:hover {
        color: $light-brown;
        background-color: white;
    }
}

.schedule-diagonal {
    fill: #AC9281;
}

.policies {
    background: linear-gradient(to right, $dark-wine, $wine-up);
    .button:hover {
        color: $dark-wine;
        background-color: white;
    }
}

/*
================================================================================
COMMITTEES
================================================================================
*/

section {
    margin-top: -8px;
    color: white;
}

.asean {
    background: linear-gradient(darken($asean, 18%), darken($asean, 2%));
    .button:hover {
        color: $asean;
        background-color: white;
    }
    .topic-committee  {
        color: $asean;
    }
}

.wb {
    background: linear-gradient(darken($wb, 18%), darken($wb, 2%));
    .button:hover {
        color: $wb;
        background-color: white;
    }
    .topic-committee  {
        color: $wb;
    }
}

.disec {
    background: linear-gradient(darken($disec, 18%), darken($disec, 2%));
    .button:hover {
        color: $disec;
        background-color: white;
    }
    .topic-committee  {
        color: $disec;
    }
}

.icj {
    background: linear-gradient(darken($icj, 18%), darken($icj, 2%));
    .button:hover {
        color: $icj;
        background-color: white;
    }
    .topic-committee  {
        color: $icj;
    }
}

.ip {
    background: linear-gradient(darken($ip, 18%), darken($ip, 2%));
    .button:hover {
        color: $ip;
        background-color: white;
    }
    .topic-committee  {
        color: $ip;
    }
}

.oea {
    background: linear-gradient(darken($oea, 18%), darken($oea, 2%));
    .button:hover {
        color: $oea;
        background-color: white;
    }
    .topic-committee  {
        color: $oea;
    }
}

.au {
    background: linear-gradient(darken($au, 18%), darken($au, 2%));
    .button:hover {
        color: $au;
        background-color: white;
    }
    .topic-committee  {
        color: $au;
    }
}

.unea {
    background: linear-gradient(darken($unea, 18%), darken($unea, 2%));
    .button:hover {
        color: $unea;
        background-color: white;
    }
    .topic-committee  {
        color: $unea;
    }
}

.unsc {
    background: linear-gradient(darken($unsc, 18%), darken($unsc, 2%));
    .button:hover {
        color: $unsc;
        background-color: white;
    }
    .topic-committee  {
        color: $unsc;
    }
}

.diagonal-asean-high {
    fill: url(#gradient-asean-high);
}

.diagonal-wb-high {
    fill: url(#gradient-wb-high);
}

.diagonal-disec-high {
    fill: url(#gradient-disec-high);
}

.diagonal-icj-high {
    fill: url(#gradient-icj-high);
}

.diagonal-ip-high {
    fill: url(#gradient-ip-high);
}

.diagonal-oea-high {
    fill: url(#gradient-oea-high);
}

.diagonal-au-high {
    fill: url(#gradient-au-high);
}

.diagonal-unea-high {
    fill: url(#gradient-unea-high);
}

.diagonal-unsc-high {
    fill: url(#gradient-unsc-high);
}

.diagonal-asean-low {
    fill: url(#gradient-asean-low);
}

.diagonal-wb-low {
    fill: url(#gradient-wb-low);
}

.diagonal-disec-low {
    fill: url(#gradient-disec-low);
}

.diagonal-icj-low {
    fill: url(#gradient-icj-low);
}

.diagonal-ip-low {
    fill: url(#gradient-ip-low);
}

.diagonal-oea-low {
    fill: url(#gradient-oea-low);
}

.diagonal-au-low {
    fill: url(#gradient-au-low);
}

.diagonal-unea-low {
    fill: url(#gradient-unea-low);
}

.diagonal-unsc-low {
    fill: url(#gradient-unsc-low);
}

.article-title {
    font-family: Montserrat-Regular;
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-top: 50px;
}

.article-description {
    width: 50%;
    margin-top: 30px;
    font-size: 1.05rem;
    &.article-committee {
        width: 100%;
    }
}

.topic-committee,
.topic-title {
    font-family: Montserrat-Regular;
    text-transform: uppercase;
}

.topic-committee {
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.topic-title {
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.topic-references {
    font-size: 0.8rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.apply-title {
    color: $salmao;
}


/*
================================================================================
MEDIA QUERIES
================================================================================
*/

@media (max-width: 74.9em) {
    .moto {
        font-size: 1.4rem;
    }
    .home-date {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {

}

@media (max-width: 33.9em) {
    .svg-triangle {
        display: none;
    }

    .modal-dialog {
        width: 90%;
    }

    .modal-content,
    .modal-wrap {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
    }

    .modal-wrap {
        margin-left: 20px;
    }

    .logo-home {
        left: 50px;
    }

    .navbar-toggler {
        background-color: lighten(#e9d6c5, 5%);
    }

    .article-description {
        width: 100%;
        padding-left: none;
    }

    .right-position {
        text-align: left;
        .article-description {
            padding-left: 0;
        }
    }

    .button {
        margin-bottom: 10px;
    }

    .button-history {
        width: 100px;
    }

    .person-name {
        padding: 30px;
        width: 100%;
    }

    .person-picture {
        display: none;
    }

    .home-box {
        top: 7%;
        width: 150px;
    }

    .globo-home {
        width: 300px;
    }


}
