@font-face {
  font-family: Montserrat-Regular;
  src: url(../font/montserrat/Montserrat-Regular.otf); }

@font-face {
  font-family: Montserrat-Light;
  src: url(../font/montserrat/Montserrat-Light.otf); }

@font-face {
  font-family: Montserrat-Hairline;
  src: url(../font/montserrat/Montserrat-Hairline.otf); }

@font-face {
  font-family: Hind-Regular;
  src: url(../font/hind/Hind-Regular.ttf); }

@font-face {
  font-family: Hind-Light;
  src: url(../font/hind/Hind-Light.ttf); }

@font-face {
  font-family: San-Frediano;
  src: url(../font/san_frediano/san-frediano-light.otf); }

html,
body {
  height: 100%;
  font-family: Hind-Regular;
  font-size: 16px;
  background-color: #e9d6c5; }

body::-webkit-scrollbar {
  width: 5px; }

body::-webkit-scrollbar-track {
  background-color: #a29a9d; }

body::-webkit-scrollbar-thumb {
  background-color: #8a7f83;
  outline: 1px solid slategrey; }

h1 {
  font-family: Montserrat-Regular; }

.wrap {
  min-height: 100%;
  height: auto; }

.container {
  padding: 50px; }

.footer {
  height: 10px;
  padding: 0 50px;
  border-top: 1px solid #ddd; }

.jumbotron {
  text-align: center;
  background-color: transparent; }

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px; }

.not-set {
  color: #c55;
  font-style: italic; }

/* add sorting icons to gridview sort links */
.sort-numerical a.asc:after {
  content: "\e153"; }

.sort-numerical a.desc:after {
  content: "\e154"; }

.sort-ordinal a.asc:after {
  content: "\e155"; }

.sort-ordinal a.desc:after {
  content: "\e156"; }

.grid-view th {
  white-space: nowrap; }

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999; }

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0; }

.navbar-header {
  display: none; }

/*
================================================================================
NEW CSS
================================================================================
*/
nav {
  position: relative;
  height: 120px;
  width: 100%; }
  nav.index-nav {
    height: auto; }

.menu-link:hover {
  text-decoration: none; }

.menu-link h1 {
  transition: color .3s ease; }

.menu-link:nth-of-type(1) h1:hover {
  color: #B02739; }

.menu-link:nth-of-type(2) h1:hover {
  color: #822c81; }

.menu-link:nth-of-type(3) h1:hover {
  color: #554e51; }

.menu-link:nth-of-type(4) h1:hover {
  color: #f26f51; }

.modal-dialog {
  position: absolute;
  right: 0px;
  width: 60%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0; }

.modal.fade .modal-dialog {
  transition: transform .5s ease-out;
  transform: translate(25%, 0); }

.modal.in .modal-dialog {
  transform: translate(0, 0); }

.modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
  margin-right: -200px;
  background-color: #e9d6c5;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg); }

.modal-wrap {
  position: relative;
  right: 220px;
  width: 100%;
  height: 100%;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg); }

.modal-header,
.modal-body,
.modal-footer {
  position: absolute;
  right: 0;
  border: none;
  padding-right: 10px; }

.modal-header {
  top: 0px; }

.modal-footer {
  bottom: 0; }
  .modal-footer h6 {
    font-size: 1.5rem; }
  .modal-footer a {
    color: #8a7f83; }
    .modal-footer a:first-of-type {
      margin-right: 10px; }

.modal-body {
  top: 50px;
  bottom: 50px;
  overflow-y: scroll;
  width: 100%;
  text-align: right;
  color: #8a7f83; }
  .modal-body h1 {
    color: #8a7f83; }
  .modal-body.modal-delimiter {
    width: 60%; }
  .modal-body::-webkit-scrollbar {
    display: none; }

.modal-menu {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }

button.close {
  width: 30px;
  height: 30px;
  border: 1px solid #f0e7e0;
  border-radius: 100%;
  background-color: #f0e7e0;
  opacity: 1;
  color: #8a7f83;
  position: relative; }
  button.close span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.logo-home {
  position: absolute;
  top: 40px;
  left: 70px;
  width: 140px;
  z-index: 10000; }

.logo-home-vertical {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%); }

.navbar-toggler {
  position: absolute;
  top: 15px;
  right: 30px;
  border-radius: 100%;
  background-color: #e9d6c5;
  padding: 7px 8.5px;
  z-index: 1000; }
  .navbar-toggler span {
    display: block;
    margin-top: 1px;
    margin-bottom: -1px; }
  .navbar-toggler:focus {
    outline: none; }
  .navbar-toggler.toogler-index {
    background-color: rgba(173, 146, 130, 0.4); }

.svg-triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 200px; }
  .svg-triangle .triangle-upperEast {
    fill: #fef8f4; }
  .svg-triangle #canto {
    transform: rotate(12.8deg); }

header {
  color: #8a7f83; }
  header .header-title {
    font-size: 3rem;
    letter-spacing: 1px;
    margin-top: 70px; }
  header .header-subtitle {
    font-family: Hind-Light;
    font-size: 0.9rem;
    margin-top: 10px; }
    header .header-subtitle a {
      color: #554e51;
      font-family: Hind-Regular; }
  header .arrow {
    position: relative;
    display: inline-block;
    width: 1.5px;
    height: 35px;
    background-color: #8c1d43;
    margin-top: 30px;
    margin-left: 150px; }
    header .arrow:before, header .arrow:after {
      content: '';
      display: inline-block;
      width: 1.5px;
      height: 20px;
      background-color: #8c1d43; }
    header .arrow:before {
      position: absolute;
      bottom: -2.2px;
      left: -7px;
      transform: rotate(-45deg); }
    header .arrow:after {
      position: absolute;
      bottom: -2.2px;
      right: -7px;
      transform: rotate(45deg); }

.diagonal-section {
  width: 100%;
  height: 100px; }

.diagonal-last {
  width: 500px;
  height: 250px; }

.diagonal-brown {
  fill: #e9d6c5; }

.button {
  width: 150px;
  height: 50px;
  font-family: Montserrat-Regular;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  margin-right: 5px; }
  .button:hover {
    transition: background-color .5s ease; }

.button-history {
  width: 140px;
  margin-bottom: 10px; }

.button-bigger {
  width: 200px; }

.modal-title {
  font-family: Montserrat-Regular;
  font-size: 2rem;
  text-transform: uppercase;
  color: #8a7f83; }
  .modal-title .fa {
    font-size: 1.3rem; }

.modal-subtitle {
  font-size: 1.5rem;
  color: #8a7f83; }

.modal-text {
  color: #8a7f83; }
  .modal-text .highlight {
    background-color: #8a7f83;
    padding: 0 5px; }
  .modal-text .fa-external-link {
    color: #8c1d43; }

.right-position {
  text-align: right; }
  .right-position .article-description {
    width: 100%;
    padding-left: 50%; }

.icon-modal {
  width: 40px; }
  .icon-modal.icon-globe {
    width: 55px; }

/*
================================================================================
HOME
================================================================================
*/
.home {
  background: linear-gradient(to right, #852785, #911a37);
  height: 110%; }

.home-gradiente {
  width: 100%;
  height: 100%; }

.moto {
  position: absolute;
  bottom: 10%;
  right: 6%;
  font-family: San-Frediano;
  font-size: 1.8rem;
  text-align: right; }

.globo-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px; }

.home-box {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 240px;
  height: 200px; }

.logo-cinza {
  width: 100%;
  text-align: center; }

.home-date {
  font-family: Montserrat-Hairline;
  font-size: 1.3rem;
  color: #f26f51;
  text-align: center; }

.diagonal-index {
  margin-top: -100px; }

.home-menu {
  background: #C4A495;
  margin-top: 0px;
  min-height: 500px;
  position: relative; }

.card-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center; }

.menu-card {
  width: 220px;
  height: 270px;
  background-color: #d8c3b4;
  margin-top: 30px;
  margin-right: 20px;
  position: relative; }
  .menu-card h1 {
    font-size: 1.5rem;
    color: #8a7f83;
    text-align: left;
    padding: 50px 0 10px 30px; }
  .menu-card p {
    text-align: left;
    padding: 0 30px 0 30px;
    color: #ad9282;
    font-family: Hind-Light;
    font-size: .9rem; }

.more-button {
  position: absolute;
  top: 290px;
  left: 0;
  width: 120px;
  color: white; }
  .more-button:hover {
    color: #C4A495;
    background-color: white; }

.home-end {
  background: linear-gradient(to left, #852885, #911a38); }
  .home-end .button:hover {
    color: #911a38;
    background-color: white; }

/*
================================================================================
MODALS
================================================================================
*/
.person-nameBox {
  width: 300px;
  height: 100px;
  float: right;
  position: relative;
  background-color: #fef8f4; }

.person-name {
  font-family: Montserrat-Regular;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0 20px;
  width: 230px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%); }
  .person-name span {
    display: block;
    font-size: .9rem;
    text-transform: capitalize; }

.person-picture {
  position: relative;
  top: -8px;
  right: -90px;
  width: 150px;
  z-index: 1; }

.person-description {
  margin-top: 20px;
  margin-bottom: 50px; }

/*
================================================================================
ABOUT
================================================================================
*/
.about-title {
  color: #B02739; }

.what-mun {
  background: linear-gradient(to right, #911A38, #B41F34); }
  .what-mun .button:hover {
    color: #911A38;
    background-color: white; }
  .what-mun .topic-committee {
    color: #911A38; }
  .what-mun .mun-logo {
    max-width: 400px;
    float: right;
    margin-top: -330px; }

.what-ufrgsmun {
  background: linear-gradient(to right, #DF4C4C, #F26F52); }
  .what-ufrgsmun .button:hover {
    color: #DF4C4C;
    background-color: white; }
  .what-ufrgsmun .topic-committee {
    color: #DF4C4C; }

.meet-us {
  background-color: #AC9281; }
  .meet-us .button:hover {
    color: #AC9281;
    background-color: white; }

.meet-us-diagonal {
  fill: #AC9281; }

.history {
  background: #C4A495; }
  .history .button:hover {
    color: #C4A495;
    background-color: white; }
  .history .topic-committee {
    color: #C4A495; }

.history-diagonal {
  fill: #C4A495; }

.square {
  width: 200px;
  height: 200px;
  background-color: white;
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block; }

.sponsor-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 150px;
  max-height: 150px; }

/*
================================================================================
THE MUN
================================================================================
*/
.mun-title {
  color: #822c81; }

.location {
  background: linear-gradient(#681966, #7a267d); }
  .location .button:hover {
    color: #60175e;
    background-color: white; }
  .location .topic-committee {
    color: #60175e; }

.schedule {
  background: #AC9281; }
  .schedule .button:hover {
    color: #AC9281;
    background-color: white; }
  .schedule .topic-committee {
    color: #AC9281; }

.schedule-diagonal {
  fill: #AC9281; }

.policies {
  background: linear-gradient(to right, #611331, #911A38); }
  .policies .button:hover {
    color: #611331;
    background-color: white; }

.schedule .topic-committee,
.policies .topic-committee {
  color: #611331; }

.schedule .topic-title,
.policies .topic-title {
  margin-bottom: 5px; }

.schedule .topic-title:not(:first-of-type),
.policies .topic-title:not(:first-of-type) {
  margin-top: 40px; }

.schedule .topic-title:first-of-type,
.policies .topic-title:first-of-type {
  margin-top: 10px; }

/*
================================================================================
COMMITTEES
================================================================================
*/
section {
  margin-top: -8px;
  color: white; }

.asean {
  background: linear-gradient(#d99715, #eeb952); }
  .asean .button:hover {
    color: #efbd5b;
    background-color: white; }
  .asean .topic-committee {
    color: #efbd5b; }

.wb {
  background: linear-gradient(#0d6659, #17ae98); }
  .wb .button:hover {
    color: #18b7a0;
    background-color: white; }
  .wb .topic-committee {
    color: #18b7a0; }

.disec {
  background: linear-gradient(#573332, #8b514f); }
  .disec .button:hover {
    color: #915553;
    background-color: white; }
  .disec .topic-committee {
    color: #915553; }

.icj {
  background: linear-gradient(#800d1b, #ca152b); }
  .icj .button:hover {
    color: #d3162d;
    background-color: white; }
  .icj .topic-committee {
    color: #d3162d; }

.ip {
  background: linear-gradient(#ad470e, #ed6a1f); }
  .ip .button:hover {
    color: #ee7028;
    background-color: white; }
  .ip .topic-committee {
    color: #ee7028; }

.oea {
  background: linear-gradient(#692e60, #a24794); }
  .oea .button:hover {
    color: #a94a9b;
    background-color: white; }
  .oea .topic-committee {
    color: #a94a9b; }

.au {
  background: linear-gradient(#29712e, #3fad46); }
  .au .button:hover {
    color: #42b449;
    background-color: white; }
  .au .topic-committee {
    color: #42b449; }

.unea {
  background: linear-gradient(#737c25, #adbb38); }
  .unea .button:hover {
    color: #b4c33a;
    background-color: white; }
  .unea .topic-committee {
    color: #b4c33a; }

.unsc {
  background: linear-gradient(#2e5273, #457cae); }
  .unsc .button:hover {
    color: #4881b5;
    background-color: white; }
  .unsc .topic-committee {
    color: #4881b5; }

.diagonal-asean-high {
  fill: url(#gradient-asean-high); }

.diagonal-wb-high {
  fill: url(#gradient-wb-high); }

.diagonal-disec-high {
  fill: url(#gradient-disec-high); }

.diagonal-icj-high {
  fill: url(#gradient-icj-high); }

.diagonal-ip-high {
  fill: url(#gradient-ip-high); }

.diagonal-oea-high {
  fill: url(#gradient-oea-high); }

.diagonal-au-high {
  fill: url(#gradient-au-high); }

.diagonal-unea-high {
  fill: url(#gradient-unea-high); }

.diagonal-unsc-high {
  fill: url(#gradient-unsc-high); }

.diagonal-asean-low {
  fill: url(#gradient-asean-low); }

.diagonal-wb-low {
  fill: url(#gradient-wb-low); }

.diagonal-disec-low {
  fill: url(#gradient-disec-low); }

.diagonal-icj-low {
  fill: url(#gradient-icj-low); }

.diagonal-ip-low {
  fill: url(#gradient-ip-low); }

.diagonal-oea-low {
  fill: url(#gradient-oea-low); }

.diagonal-au-low {
  fill: url(#gradient-au-low); }

.diagonal-unea-low {
  fill: url(#gradient-unea-low); }

.diagonal-unsc-low {
  fill: url(#gradient-unsc-low); }

.article-title {
  font-family: Montserrat-Regular;
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-top: 50px; }

.article-description {
  width: 50%;
  margin-top: 30px;
  font-size: 1.05rem; }
  .article-description.article-committee {
    width: 100%; }

.topic-committee,
.topic-title {
  font-family: Montserrat-Regular;
  text-transform: uppercase; }

.topic-committee {
  font-size: 1.2rem;
  margin-bottom: 0px; }

.topic-title {
  font-size: 1.4rem;
  margin-bottom: 30px; }

.topic-references {
  font-size: 0.8rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.apply-title {
  color: #f26f51; }

/*
================================================================================
MEDIA QUERIES
================================================================================
*/
@media (min-width: 767px) and (max-width: 1199px) {
  .menu-card {
    margin-left: 50px; }
  .menu-card:nth-of-type(3),
  .menu-card:nth-of-type(4) {
    margin-top: 150px;
    margin-bottom: 100px; }
  .mun-logo {
    display: none; } }

@media (max-width: 766px) {
  .menu-card {
    margin-bottom: 100px; }
  .mun-logo {
    display: none; } }

@media (max-width: 74.9em) {
  .moto {
    font-size: 1.4rem; }
  .home-date {
    font-size: 1rem; } }

@media (max-width: 33.9em) {
  .svg-triangle {
    display: none; }
  .modal-dialog {
    width: 90%; }
  .modal-content,
  .modal-wrap {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none; }
  .modal-wrap {
    margin-left: 20px; }
  .logo-home {
    left: 50px; }
  .navbar-toggler {
    background-color: #f0e3d7; }
  .article-description {
    width: 100%;
    padding-left: none; }
  .right-position {
    text-align: left; }
    .right-position .article-description {
      padding-left: 0; }
  .button {
    margin-bottom: 10px; }
  .button-history {
    width: 100px; }
  .person-nameBox {
    width: 100%;
    height: 100px;
    float: right;
    position: relative;
    background-color: #fef8f4; }
  .person-name {
    width: 100%; }
  .person-picture {
    display: none; }
  .home-box {
    top: 7%;
    width: 150px; }
  .globo-home {
    width: 300px; } }

/*# sourceMappingURL=site.css.map */